{% extends "main.html" %}

{% block title %}Buses{% endblock title %}
  {% block head %} {% endblock head %}

{% block main %}
<div class="h-full w-full flex flex-col items-center pt-10">
  <div class="space-y-6 text-center w-full max-w-4xl">

<h1 class="text-3xl font-bold">Buses</h1>
  <p class="text-gray-700">
    This is a mock content inside the main block to check layout and styling.
  </p>

  <!-- Mock table -->
  <!-- <div class="overflow-x-auto "> -->
        <!-- <div class="overflow-x-auto flex justify-center"> -->
<div class="overflow-x-auto bg-white shadow-md rounded-lg w-full">
       <form id="delete-bus"  action="{%url 'delete_bus'%}" method="post">{% csrf_token %}
    <table class="table w-full border">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Capacity</th>
          <th>Route</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for bus in busObj %}
        <tr class="hover">
          <td>{{ bus.id }}</td>
          <td>{{ bus.name }}</td>
          <td class="text-{%if bus.is_active == 1 %}green{% else%}red{%endif%}-600">{{bus.capacity}}</td>
          <td>{{bus.route.route_str}}</td>
          <td><input type="checkbox" name="checkbox-delete" value="{{ bus.id }}"></td>
        </tr>   
        {% endfor %}

      </tbody>
    </table>
    </form>

  </div>

  <!-- Mock buttons -->
  <div class="flex gap-2 mt-4">
    <a href="{% url 'add_bus' %}"><button class="btn btn-primary">Add Bus</button></a>
    <button class="btn btn-secondary">Edit Bus</button>
    <button class="btn btn-error" form="delete-bus">Delete Bus</button>
  </div>

</div></div>
{% endblock main %}

