{% extends 'main.html' %}

{% block title %}
Login
{% endblock title %}

{% block main %}

<div class="flex items-center justify-center h-screen">
    <form accept="/login" method="POST">
            {% csrf_token %}

<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
  <legend class="fieldset-legend">Login</legend>

  <label class="label">Username</label>
  <input type="username" class="input" placeholder="Username" name="username"/>

  <label class="label">Password</label>
  <input type="password" class="input" placeholder="Password" name="password" />

  <button class="btn btn-neutral mt-4">Login</button>
</fieldset></form>
</div>


{% endblock main %}