{% extends "main.html" %}

{% block title %}Students{% endblock title %}

{% block main %}

<div class="space-y-6">

    <!-- Page Header -->
    <div class="flex items-center justify-between">
        <div>
            <h1 class="text-2xl font-semibold">Students</h1>
            <p class="text-sm opacity-60">Manage student accounts</p>
        </div>

        <button class="btn btn-primary">
            <i data-lucide="plus" class="w-4 h-4"></i>
            Add Student
        </button>
    </div>

    <!-- Filters -->
    <!-- <div class="card bg-base-200/40">
    <div class="card-body p-4">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 ">

        <input
          type="text"
          placeholder="Search by name or ID"
          class="input input-bordered w-full"
        />

        <select class="select select-bordered w-full">
          <option disabled selected>Department</option>
          <option>Computer Science</option>
          <option>Physics</option>
          <option>Mathematics</option>
        </select>

        <select class="select select-bordered w-full">
          <option disabled selected>Status</option>
          <option>Active</option>
          <option>Inactive</option>
        </select>

        <button class="btn btn-outline w-full">
          Apply
        </button>

      </div>
    </div>
  </div> -->
    <!-- Filters Toolbar -->
    <div class="flex flex-col md:flex-row md:items-center gap-3">

        <input type="text" placeholder="Search name / ID" class="input input-sm input-bordered w-full md:w-64" />

        <select class="select select-sm select-bordered w-full md:w-52">
            <option disabled selected>Department</option>
            <option>Computer Science</option>
            <option>Physics</option>
            <option>Mathematics</option>
        </select>

        <select class="select select-sm select-bordered w-full md:w-40">
            <option disabled selected>Status</option>
            <option>Active</option>
            <option>Inactive</option>
        </select>

        <div class="md:ml-auto flex gap-2">
            <button id="reset" type="reset" class="btn btn-sm btn-ghost">
                Reset
            </button>
            <button class="btn btn-sm btn-outline">
                Apply
            </button>
        </div>

    </div>

    <!-- Students Table -->
    <div class="card bg-base-100 shadow-sm">
        <div class="overflow-x-auto">

            <table class="table table-zebra w-full">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Student ID</th>
                        <th>Email</th>
                        <th>Bus Assignment</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>

                <tbody>

                    <!-- <tr>
                        <td>Ali Khan</td>
                        <td>CS-2021-045</td>
                        <td>ali.khan@example.com</td>
                        <td>Computer Science</td>
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                        <td class="text-right">
                            <div class="dropdown dropdown-end">
                                <button class="btn btn-ghost btn-sm">
                                    <i data-lucide="more-vertical" class="w-4 h-4"></i>
                                </button>
                                <ul class="menu menu-sm dropdown-content bg-base-100 rounded-box shadow w-44">
                                    <li><a>View</a></li>
                                    <li><a>Disable</a></li>
                                    <li><a>Reset Password</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>

 -->

                </tbody>
            </table>

        </div>
    </div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", async function () {
const api = "{% url 'users' 'student' %}";
        const tableBody = document.querySelector('tbody');
        try {
            const response = await fetch(api);
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }
            const result = await response.json();
            result.forEach(element => {

                const row = document.createElement('tr');
                const nameCell = document.createElement('td');
                nameCell.textContent = element.first_name + ' ' + element.last_name;
                const idCell = document.createElement('td');
                idCell.textContent = element.student.student_id;
                const emailCell = document.createElement('td');
                emailCell.textContent = element.email;
                const BusCell = document.createElement('td');
                BusCell.textContent = element.student.bus_id;


                const actionsCell = document.createElement('td');
                actionsCell.className = "text-right";

                const actionsDiv = document.createElement('div');
                actionsDiv.className = "dropdown dropdown-end ";

                const actionsButton = document.createElement('button');
                actionsButton.className = "btn btn-ghost btn-sm";
                                                    // <i data-lucide="more-vertical" class="w-4 h-4"></i>
                const actionsButtonIco = document.createElement('i');
                actionsButtonIco.setAttribute("data-lucide", "more-vertical");
                actionsButtonIco.classList.add("w-4", "h-4");
                actionsButton.setAttribute("tabindex", "0");
                actionsButton.setAttribute("role", "button");

                actionsButton.append(actionsButtonIco)

                const ul = document.createElement('ul');
                ul.className = "menu menu-sm dropdown-content bg-base-100 rounded-box shadow w-44";
                const li1 = document.createElement('li');
                const a1 = document.createElement('a');
                a1.textContent = "View";

                li1.append(a1);
                const li2 = document.createElement('li');
                const a2 = document.createElement('a');
                a2.textContent = "Disable";

                li2.append(a2);
                const li3 = document.createElement('li');
                const a3 = document.createElement('a');
                a3.textContent = "Reset Password";

                li3.append(a3);
                ul.append(li1, li2, li3);
                actionsDiv.append(actionsButton, ul);
                actionsCell.append(actionsDiv);
                
                row.append(nameCell, idCell, emailCell, BusCell, actionsCell);
                tableBody.append(row);

            });
            lucide.createIcons();

        } catch (error) {
            console.log(error);
        }

    });
</script>

{% endblock main %}